:root {
	--primary-color: #80a1ba;
	--secondary-color: #91c4c3;
	--third-color: #b4debd;
	--accent-color: #fff7dd;
	--text-color: black;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	/* border: 1px solid black; */
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

html,
body {
	height: 100%;
	text-align: center;
	background-color: var(--accent-color);
	font-family: 'Roboto', sans-serif;
}

h1,
.project-bar {
	background-color: var(--secondary-color);
}

body {
	grid-template-rows: auto;
}

.p1 {
	padding: 1rem;
}

.p05 {
	padding: 0.5rem;
}

.px-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.py-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.px-05 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.py-05 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.container {
	grid-template-columns: auto 1fr;
	min-height: 0;
	height: 100%;
}

.main-content {
	grid-template-rows: auto 1fr;
	min-height: 0;
	height: 100%;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.project-bar {
	min-width: 250px;
	flex-direction: column;
	height: 100%;
	min-height: 0;
}

.project-bar-top button {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.project-list {
	overflow: auto;
	flex-grow: 1;
	min-height: 0;
}

.project-control {
	justify-content: space-between;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

button {
	border-radius: 10px;
	cursor: pointer;
	border: none;
}

.project-todos {
	grid-template-columns: 1fr;
	grid-auto-rows: min-content;
	min-height: 0;
	gap: 1rem;
	overflow: auto;
}

.todo {
	height: min-content;
	border-radius: 25px;
	background-color: var(--third-color);
}

li {
	list-style-type: none;
	cursor: pointer;
	border-bottom: gray 1px solid;
}

.dialog {
	margin: auto;
	border-radius: 25px;
}

.form-btns {
	justify-content: space-between;
}

input[type='text'],
input[type='date'],
textarea {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 10px;
}

label {
	align-self: flex-start;
	padding-bottom: 0.25rem;
}
